<!-- 邮件客户端市场统计 -->
<div class="tab-panel" id="page-statistics">
  <h2 class="header-3">2014 邮件客户端市场份额比例排行</h2>
  <ul class="static-list">
    <li class="rank-1">
      <div class="num">1</div>
      <div class="name">Apple iPhone</div>
      <div class="share">25%</div>
    </li>
    <li class="rank-2">
      <div class="num">2</div>
      <div class="name">Gmail</div>
      <div class="share">14%</div>
    </li>
    <li class="rank-3">
      <div class="num">3</div>
      <div class="name">Outlook</div>
      <div class="share">13%</div>
    </li>
    <li class="rank-4">
      <div class="num">4</div>
      <div class="name">Apple iPad</div>
      <div class="share">12%</div>
    </li>
    <li class="rank-5">
      <div class="num">5</div>
      <div class="name">Apple Mail</div>
      <div class="share">8%</div>
    </li>
    <li class="rank-6">
      <div class="num">6</div>
      <div class="name">Yahoo! Mail</div>
      <div class="share">6%</div>
    </li>
    <li class="rank-7">
      <div class="num">7</div>
      <div class="name">Outlook.com</div>
      <div class="share">6%</div>
    </li>
    <li class="rank-8">
      <div class="num">8</div>
      <div class="name">Google Android</div>
      <div class="share">5%</div>
    </li>
    <li class="rank-9">
      <div class="num">9</div>
      <div class="name">Window Live Mail</div>
      <div class="share">2%</div>
    </li>
    <li class="rank-10">
      <div class="num">10</div>
      <div class="name">Thunderbird</div>
      <div class="share">1%</div>
    </li>
  </ul>
</div>