<!-- EDM脚部　开始 -->
<table class="deviceWidth" border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="border-collapse:collapse;">
	<tbody>
		<tr>
			<td style="padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:40px;" class="r-fw-right-space">
				<table class="r-fw r-fw-left r-fw-center" border="0" cellspacing="0" cellpadding="0" width="350" style="border-collapse:collapse;" align="left">
					<tbody>
						<tr>
							<td align="left" style="padding-top: 5px;padding-bottom: 5px;font-size:13px;font-family: '微软雅黑';color:#666666;">以上信息仅供参考，详情请登录携程旅行网查询</td>
						</tr>
					</tbody>
				</table>
				<table class="r-fw r-fw-right r-fw-center" border="0" cellspacing="0" cellpadding="0" width="200" style="border-collapse:collapse;" align="right">
					<tbody>
						<tr>
							<td align="right" style="padding-top: 5px;padding-bottom: 5px;font-size:13px;font-family: '微软雅黑';color:#666666;"><a href="#" style="color:#0066cc;text-decoration:none;font-size:13px;"><font color="#0066cc">管理我的订阅</font></a></td>
							<td align="right" style="padding-top: 5px;padding-bottom: 5px;font-size:0px;line-height:0;" width="20">&nbsp;</td>
							<td align="left" style="padding-top: 5px;padding-bottom: 5px;font-size:13px;font-family: '微软雅黑';color:#666666;"><a href="#" style="color:#0066cc;text-decoration:none;font-size:13px;"><font color="#0066cc">退订此类邮件</font></a></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- EDM脚部　结束 -->