<!-- 邮件Logo 开始 -->
<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#8cbaf6" style="background-color:#8cbaf6;">
	<tbody>
		<tr>
			<td align="left">
				<table width="220" class="r-fw r-fw-left" border="0" cellpadding="0" cellspacing="0" align="left" bgcolor="#8cbaf6" style="background-color:#8cbaf6;">
					<tbody>
						<tr>
							<td bgcolor="#8cbaf6" align="left" hegit="50" width="105" style="padding-left:10px;">
								<a href="##" style="border:0;text-decoration: none;">
									<img src="http://pic.ctrip.com/edm/hotelEDM/logo-hawkeye.jpg" alt="携程" style="display:block;hegith:50px;width:105px;border:0;" width="105" height="50" />
								</a>
							</td>
							<td bgcolor="#8cbaf6" align="left" hegit="50" width="102">
								<a href="##" style="border:0;text-decoration: none;">
									<img src="http://pic.ctrip.com/edm/hotelEDM/email-reservations.jpg" alt="携程" style="display:block;hegith:50px;width:102px;border:0;" width="102" height="50" />
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<table width="261" class="r-fw r-fw-right" border="0" cellpadding="0" cellspacing="0" align="right" bgcolor="#8cbaf6" style="background-color:#8cbaf6;">
					<tbody>
						<tr>
							<td bgcolor="#8cbaf6" align="left" hegit="50" width="238" style="padding-right:20px;padding-left:20px;">
								<a href="##" style="border:0;text-decoration: none;">
									<img src="http://pic.ctrip.com/edm/hotelEDM/search-header-2.jpg" alt="搜索" style="display:block;hegith:50px;width:238px;border:0;" width="238" height="50" class="r-fw-img"/>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- 邮件Logo 结束 -->