<!-- 您近期浏览过的内容 模块 开始 -->
<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;">
	<tbody>
		<tr>
			<td align="left" valign="top" style="padding-left:20px;padding-right:20px;" class="r-fw-right-space">
				<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;">
					<tbody>
						<tr>
							<td align="left" style="font-family: '微软雅黑';font-size:18px;color:#000000;font-weight: bold;">您近期浏览过的内容</td>
						</tr>
					</tbody>
				</table><!-- 头部 -->
				<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;">
					<tbody>
						<tr>
							<td bgcolor="#f5f5f5" height="10" style="font-size:1px" class="m-spc-v">&nbsp;</td>
						</tr>
					</tbody>
				</table><!-- 垂直方向的间距 -->
				<table width="100%" class="r-fw" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;">
					<tbody>
						<tr>
							<td width="200" valign="top" class="r-fw-col">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color:#ffffff;">
                  <tbody>
                    <tr>
                      <td bgcolor="#ffffff" style="padding:10px;">
                        <table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                          <tbody>
                            <tr>
                              <td align="left" valign="top" height="50" width="130" class="r-w-280"><a href="#" style="font-family: '微软雅黑';font-size:13px;color:#333333;text-decoration: none;">上海中航桥泊悦中航桥泊悦中航桥泊悦...</a></td>
                              <td align="right" valign="top">
                                <table border="0" cellspacing="0" cellpadding="0" align="right">
                                  <tbody>
                                    <tr>
                                      <td bgcolor="#8cbaf6" align="center"  style="color:#ffffff;font-size:13px;font-family:'微软雅黑';padding-left:3px;padding-right:3px;" height="10"><a href="#" style="text-decoration: none;color:#ffffff;">酒店</a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                          <tbody>
                            <tr>
                              <td align="left"><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /><img src="http://pic.ctrip.com/edm/hotelEDM/half-diamond.png" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /></td>
                              <td align="right" style="font-size:13px;font-family:'微软雅黑';color:#333333;" height="23"><a href="##" style="font-size:13px;font-family:'微软雅黑';color:#333333;text-decoration: none;"><font style="vertical-align:6px;font-family:Arial;font-size:13px;">&yen;</font><b style="font-family:Tahoma;font-size:18px;font-weight:normal;color:#ff6600;">4030</b><font>起</font></a></td>
                            </tr>
                          </tbody>
                        </table>                                  
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td><!-- 左侧内容 -->
							<td width="10" height="10" class="r-fw-space" style="font-size: 1px;">&nbsp;</td><!-- 垂直方向的间距 -->
							<td width="200" valign="top" class="r-fw-col">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color:#ffffff;">
                  <tbody>
                    <tr>
                      <td bgcolor="#ffffff" style="padding:10px;">
                        <table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                          <tbody>
                            <tr>
                              <td align="left" valign="top" height="50" width="130" class="r-w-280"><a href="#" style="font-family: '微软雅黑';font-size:13px;color:#333333;text-decoration: none;">新加坡5日4晚自由行·市区酒店+圣淘沙...</a></td>
                              <td align="right" valign="top">
                                <table border="0" cellspacing="0" cellpadding="0" align="right">
                                  <tbody>
                                    <tr>
                                      <td bgcolor="#8cbaf6" align="center"  style="color:#ffffff;font-size:13px;font-family:'微软雅黑';padding-left:3px;padding-right:3px;" height="10"><a href="#" style="text-decoration: none;color:#ffffff;">旅游</a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                          <tbody>
                            <tr>
                              <td align="right" style="font-size:13px;font-family:'微软雅黑';color:#333333;" height="23"><a href="##" style="font-size:13px;font-family:'微软雅黑';color:#333333;text-decoration: none;"><font style="vertical-align:6px;font-family:Arial;font-size:13px;">&yen;</font><b style="font-family:Tahoma;font-size:18px;font-weight:normal;color:#ff6600;">4030</b><font>起</font></a></td>
                            </tr>
                          </tbody>
                        </table>                                  
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
							<td width="10" height="10" class="r-fw-space" style="font-size: 1px;">&nbsp;</td><!-- 垂直方向的间距 -->
							<td width="200" valign="top" class="r-fw-col">
								<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color:#ffffff;">
									<tbody>
										<tr>
											<td bgcolor="#ffffff" style="padding:10px;">
												<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
													<tbody>
														<tr>
															<td align="left" valign="top" height="50" width="130" class="r-w-280"><a href="#" style="font-family: '微软雅黑';font-size:13px;color:#333333;text-decoration: none;">北京-上海(往返)</a></td>
															<td align="right" valign="top">
																<table border="0" cellspacing="0" cellpadding="0" align="right">
																	<tbody>
																		<tr>
																			<td bgcolor="#8cbaf6" align="center"  style="color:#ffffff;font-size:13px;font-family:'微软雅黑';padding-left:3px;padding-right:3px;" height="10"><a href="#" style="text-decoration: none;color:#ffffff;">机票</a></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
												<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
													<tbody>
														<tr>
															<td align="left"><a href="##" style="font-size:13px;font-family:'微软雅黑';color:#333333;text-decoration:none" >12月11日 </a></td>
															<td align="right" style="font-size:13px;font-family:'微软雅黑';color:#333333;" height="23"><a href="##" style="font-size:13px;font-family:'微软雅黑';color:#333333;text-decoration: none;"><font style="vertical-align:6px;font-family:Arial;font-size:13px;">&yen;</font><b style="font-family:Tahoma;font-size:18px;font-weight:normal;color:#ff6600;">430</b><font>起</font></a></td>
														</tr>
													</tbody>
												</table>																	
											</td>
										</tr>
									</tbody>
								</table>
							</td><!-- 右侧内容 -->
						</tr>
					</tbody>
				</table><!-- 第一行 -->
				<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;">
					<tbody>
						<tr>
							<td bgcolor="#f5f5f5" height="10" style="font-size:1px" class="m-spc-v">&nbsp;</td>
						</tr>
					</tbody>
				</table><!-- 垂直方向的间距 -->
				<table width="100%" class="r-fw" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;">
					<tbody>
						<tr>
							<td width="200" valign="top" class="r-fw-col">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color:#ffffff;">
                  <tbody>
                    <tr>
                      <td bgcolor="#ffffff" style="padding:10px;">
                        <table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                          <tbody>
                            <tr>
                              <td align="left" valign="top" height="50" width="130" class="r-w-280"><a href="#" style="font-family: '微软雅黑';font-size:13px;color:#333333;text-decoration: none;">上海中航桥泊悦...</a></td>
                              <td align="right" valign="top">
                                <table border="0" cellspacing="0" cellpadding="0" align="right">
                                  <tbody>
                                    <tr>
                                      <td bgcolor="#8cbaf6" align="center"  style="color:#ffffff;font-size:13px;font-family:'微软雅黑';padding-left:3px;padding-right:3px;" height="10"><a href="#" style="text-decoration: none;color:#ffffff;">酒店</a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                          <tbody>
                            <tr>
                              <td align="left"><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /><img src="http://pic.ctrip.com/edm/hotelEDM/start.jpg" alt="" style="vertical-align: middle;width:11px;height:8px;" width="11" height="8" /></td>
                              <td align="right" style="font-size:13px;font-family:'微软雅黑';color:#333333;" height="23"><a href="##" style="font-size:13px;font-family:'微软雅黑';color:#333333;text-decoration: none;"><font style="vertical-align:6px;font-family:Arial;font-size:13px;">&yen;</font><b style="font-family:Tahoma;font-size:18px;font-weight:normal;color:#ff6600;">4030</b><font>起</font></a></td>
                            </tr>
                          </tbody>
                        </table>                                  
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td><!-- 左侧内容 -->
							<td width="10" height="10" class="r-fw-space" style="font-size: 1px;">&nbsp;</td><!-- 垂直方向的间距 -->
							<td width="200" valign="top" class="r-fw-col">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color:#ffffff;">
                  <tbody>
                    <tr>
                      <td bgcolor="#ffffff" style="padding:10px;">
                        <table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                          <tbody>
                            <tr>
                              <td align="left" valign="top" height="50" width="130" class="r-w-280"><a href="#" style="font-family: '微软雅黑';font-size:13px;color:#333333;text-decoration: none;">新加坡5日4晚自由行</a></td>
                              <td align="right" valign="top">
                                <table border="0" cellspacing="0" cellpadding="0" align="right">
                                  <tbody>
                                    <tr>
                                      <td bgcolor="#8cbaf6" align="center"  style="color:#ffffff;font-size:13px;font-family:'微软雅黑';padding-left:3px;padding-right:3px;" height="10"><a href="#" style="text-decoration: none;color:#ffffff;">旅游</a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
                          <tbody>
                            <tr>
                              <td align="right" style="font-size:13px;font-family:'微软雅黑';color:#333333;" height="23"><a href="##" style="font-size:13px;font-family:'微软雅黑';color:#333333;text-decoration: none;"><font style="vertical-align:6px;font-family:Arial;font-size:13px;">&yen;</font><b style="font-family:Tahoma;font-size:18px;font-weight:normal;color:#ff6600;">4030</b><font>起</font></a></td>
                            </tr>
                          </tbody>
                        </table>                                  
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
							<td width="10" height="10" class="r-fw-space" style="font-size: 1px;">&nbsp;</td><!-- 垂直方向的间距 -->
							<td width="200" valign="top" class="r-fw-col">
								<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color:#ffffff;">
									<tbody>
										<tr>
											<td bgcolor="#ffffff" style="padding:10px;">
												<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
													<tbody>
														<tr>
															<td align="left" valign="top" height="50" width="130" class="r-w-280"><a href="#" style="font-family: '微软雅黑';font-size:13px;color:#333333;text-decoration: none;">北京-上海(往返)</a></td>
															<td align="right" valign="top">
																<table border="0" cellspacing="0" cellpadding="0" align="right">
																	<tbody>
																		<tr>
																			<td bgcolor="#8cbaf6" align="center"  style="color:#ffffff;font-size:13px;font-family:'微软雅黑';padding-left:3px;padding-right:3px;" height="10"><a href="#" style="text-decoration: none;color:#ffffff;">机票</a></td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
												<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff" style="background-color:#ffffff;">
													<tbody>
														<tr>
															<td align="left"><a href="##" style="font-size:13px;font-family:'微软雅黑';color:#333333;text-decoration:none" >12月11日 </a></td>
															<td align="right" style="font-size:13px;font-family:'微软雅黑';color:#333333;" height="23"><a href="##" style="font-size:13px;font-family:'微软雅黑';color:#333333;text-decoration: none;"><font style="vertical-align:6px;font-family:Arial;font-size:13px;">&yen;</font><b style="font-family:Tahoma;font-size:18px;font-weight:normal;color:#ff6600;">430</b><font>起</font></a></td>
														</tr>
													</tbody>
												</table>																	
											</td>
										</tr>
									</tbody>
								</table>
							</td><!-- 右侧内容 -->
						</tr>
					</tbody>
				</table><!-- 第二行 -->
			</td>
		</tr>		
	</tbody>
</table>
<!-- 您近期浏览过的内容 模块 结束 -->
<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#f5f5f5" style="background-color:#f5f5f5;">
	<tbody>
		<tr>
			<td bgcolor="#f5f5f5" height="20" style="font-size:1px" class="m-spc-v">&nbsp;</td>
		</tr>
	</tbody>
</table><!-- 垂直方向的间距 -->