<!-- 订阅 开始 -->
<table width="100%" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#cae4fe" style="background-color:#cae4fe;">
  <tbody>
    <tr>
      <td align="left">
        <table width="355" class="r-fw r-fw-left" border="0" cellpadding="0" cellspacing="0" align="left" bgcolor="#cae4fe" style="background-color:#cae4fe;">
          <tbody>
            <tr>
              <td bgcolor="#cae4fe" align="left" hegit="80" style="padding-left:20px;" class="r-fw-right-space">
                <a href="##" style="border:0;text-decoration: none;">
                  <img src="http://pic.ctrip.com/edm/hotelEDM/dy-info-2.jpg" alt="携程" style="display:block;height:80px;width:355px;border:0;" width="355" height="80" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="243" class="r-fw r-fw-right" border="0" cellpadding="0" cellspacing="0" align="right" bgcolor="#cae4fe" style="background-color:#cae4fe;">
          <tbody>
            <tr>
              <td bgcolor="#cae4fe" align="left" height="80" valign="middle" style="padding-right:20px;padding-left:20px;" class="r-fw-right-space">
                <a href="##" style="border:0;text-decoration: none;">
                  <img src="http://pic.ctrip.com/edm/hotelEDM/dy2.jpg" alt="订阅" style="display:block;height:31px;width:243px;border:0;" width="242" height="32" class="r-fw"/>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<!-- 订阅 结束 -->